{{#each week as |day index|}}
    <div>
        <h2 class="header {{index}}">{{day}}</h2>
        <ul class="day {{index}}">
        </ul>
    </div>
{{/each}}


{{#each filteredModel("month") as |day index|}}
<table>
{{calendar-day view="month"}}
</table>
{{/each}}




