<div class="container">
<div class="row"><div class="col-xs-12"><h4>Description</h4></div></div>
<div class="row"><div class="col-xs-12">{{textarea class="description" value=description focus-out="saveDesc" }}</div></div>
</div>
