/*Colors used in Logo:
 *
 * #550000 is the rust color
 * #999999 is the gray in the letters
 * the black is black. nothing special
 */

.logo {
        height: 100px;
        padding: 1%;
}
h1 {
        padding: 2%;
}
.timer {
        width: 500px;
        height: 250px;
        font-family: monospace;
        font-size: 5em;
        margin: auto;
        padding: auto;
        text-align: center;
}
.left {
        float: left;
}
.right {
        float: right;
}
.desc {
        background-color: #999999; 
        padding: 5%;
        border-radius: 10px;
}

/*time-controls are the start/stop buttons*/
.time-controls {
        padding: 1% 0 1% 0;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
}
.description {
        background-color: #eee; 
        height: 300px;
        width: 100%;
        padding: 1%;
        border: 1px solid black;
        box-shadow: 5px 5px 5px;
        font-family: 'monospace';
}
.is-editing {
        background: white;
        overflow: none;
}
.center {
        text-align: center;
}
.project {
        border: 1px solid gray;
        border-radius: 5px 5px;
        padding: 1%;
}
.milestone {
        border-radius: 5px 5px;
        padding: 1%;
        border: 1px solid #ccc;
}
#new-input {
        border: 1px solid #ddd;
        padding: 1%;
}
.hidden {
        display: none;
}
.icon {
        font-size: 25px;
        display: inline-block;
}
.started {
        color: #0a4;
}
/* style for calendar 'week/month/year' buttons */
.calendar-button {
        color: #550000;
        background: #ccc;
        padding: 10px;
        margin: 1%;
        transition: 0.2s;
        border-style: none;
}
.calendar-button:hover {
        color: #770000;
        background: #999;
        transition: 0.5s;

}
.calendar-menu {
        padding-top: 1%;
}
.cal-proj-container {
        padding: 0 5% 0 10%;
        width: 50%;
}
.calendar-project {
        padding: 5px 0 0 5%;
        list-style: none;
}
.day {
        list-style: none;
        color: #999;
        font-size: 2em;
}
.day-active {
        font-weight: 700;
}
