<img class="logo" src="/assets/projetc_logo.svg" alt="Projetc Logo">
<h1>Calendar</h1>
<div class="cal-proj-container left">{{calendar-projects model=model}}</div>
<div>
<ul>
{{#each model as |project|}}
<li class="calendar-project">{{#link-to "project" project}}{{project.name}}{{/link-to}}</li>
{{/each}}
</ul>
</div>

