<div class="container">
<h2 id="title">Proj Etc</h2>
<div class="jumbotron">
  <p>Want to increase your productivity?  Want to make more money?  Want to give your clients a better idea of what they are spending their hard-earned money getting you to do?  Get started today!
    Create your first project and GET TO WORK!</p>
  <p>{{link-to 'Get Started' 'projects' class="btn btn-info"}}</p>  <a href="#">recommend this to a friend</a>
</div>
</div>

