<div class="container">
        <div class="row">
                <div class="col-xs-9"><img class="logo" src="/assets/projetc_logo.svg" alt="Projetc Logo"></div>
                <div class="col-xs-3"></div>
        </div>
<div class="jumbotron">
  <p>Want to increase your productivity?  Want to make more money?  Want to give your clients a better idea of what they are spending their hard-earned money getting you to do?  Get started today!
    Create your first project and GET TO WORK!</p>
  <p>{{link-to 'Get Started' 'projects' class="btn btn-primary"}}</p>  <a href="http://www.twitter.com/home?status=I started using a neat time management tool you might like.  Here's the link:  http://projetc.wrightonlineworks.com" target="_blank" alt="Recommend this to a friend">recommend this to a friend</a>
</div>
</div>

